body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.calculator {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    border: 5px;
    border-color: #e0e0e0;
    background-color: black;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #e9e3e3;
    border: none;
    border-radius: 10px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #e0e0e0;
}

.zero {
    grid-column: span 2;
}
